.div-container {
  width: 60px;
  height: 60px;
  display: flex;
}

.div-content {
  color: white;
  opacity: 0.86;
  width: 100%;
  font-size: xx-large;
  margin: auto;
  display: flex;
  flex-direction: column;

  .div-face-value {
    text-align: center;
    flex-grow: 1;
  }

  .div-times-selected {
    font-size: small;
    text-align: end;
    margin-right: 5px;
  }
}
