<div class="div-container">
    <div class='div-reset-button'>
        <button mat-raised-button color="primary" (click)="onReset()">Reset</button>
        <button mat-raised-button color="primary" (click)="onGenerate()">Generate</button>
    </div>
    <div class='div-roulette-table'>
        <div class='div-roulette-column'>
            <app-tile #tile0 [tileValue]=0 backColor='green' (clicked)='onClicked($event)'></app-tile>
        </div>
        <div class='div-roulette-column'>
            <div class='div-roulette-row'>
                <app-tile #tile3 [tileValue]=3 backColor='red' (clicked)='onClicked($event)'></app-tile>
                <app-tile #tile6 [tileValue]=6 backColor='black' (clicked)='onClicked($event)'></app-tile>
                <app-tile #tile9 [tileValue]=9 backColor='red' (clicked)='onClicked($event)'></app-tile>
                <app-tile #tile12 [tileValue]=12 backColor='red' (clicked)='onClicked($event)'></app-tile>
                <app-tile #tile15 [tileValue]=15 backColor='black' (clicked)='onClicked($event)'></app-tile>
                <app-tile #tile18 [tileValue]=18 backColor='red' (clicked)='onClicked($event)'></app-tile>
                <app-tile #tile21 [tileValue]=21 backColor='red' (clicked)='onClicked($event)'></app-tile>
                <app-tile #tile24 [tileValue]=24 backColor='black' (clicked)='onClicked($event)'></app-tile>
                <app-tile #tile27 [tileValue]=27 backColor='red' (clicked)='onClicked($event)'></app-tile>
                <app-tile #tile30 [tileValue]=30 backColor='red' (clicked)='onClicked($event)'></app-tile>
                <app-tile #tile33 [tileValue]=33 backColor='black' (clicked)='onClicked($event)'></app-tile>
                <app-tile #tile36 [tileValue]=36 backColor='red' (clicked)='onClicked($event)'></app-tile>
            </div>
            <div class='div-roulette-row'>
                <app-tile #tile2 [tileValue]=2 backColor='black' (clicked)='onClicked($event)'></app-tile>
                <app-tile #tile5 [tileValue]=5 backColor='red' (clicked)='onClicked($event)'></app-tile>
                <app-tile #tile8 [tileValue]=8 backColor='black' (clicked)='onClicked($event)'></app-tile>
                <app-tile #tile11 [tileValue]=11 backColor='black' (clicked)='onClicked($event)'></app-tile>
                <app-tile #tile14 [tileValue]=14 backColor='red' (clicked)='onClicked($event)'></app-tile>
                <app-tile #tile17 [tileValue]=17 backColor='black' (clicked)='onClicked($event)'></app-tile>
                <app-tile #tile20 [tileValue]=20 backColor='black' (clicked)='onClicked($event)'></app-tile>
                <app-tile #tile23 [tileValue]=23 backColor='red' (clicked)='onClicked($event)'></app-tile>
                <app-tile #tile26 [tileValue]=26 backColor='black' (clicked)='onClicked($event)'></app-tile>
                <app-tile #tile29 [tileValue]=29 backColor='black' (clicked)='onClicked($event)'></app-tile>
                <app-tile #tile32 [tileValue]=32 backColor='red' (clicked)='onClicked($event)'></app-tile>
                <app-tile #tile35 [tileValue]=35 backColor='black' (clicked)='onClicked($event)'></app-tile>
            </div>
            <div class='div-roulette-row'>
                <app-tile #tile1 [tileValue]=1 backColor='red' (clicked)='onClicked($event)'></app-tile>
                <app-tile #tile4 [tileValue]=4 backColor='black' (clicked)='onClicked($event)'></app-tile>
                <app-tile #tile7 [tileValue]=7 backColor='red' (clicked)='onClicked($event)'></app-tile>
                <app-tile #tile10 [tileValue]=10 backColor='black' (clicked)='onClicked($event)'></app-tile>
                <app-tile #tile13 [tileValue]=13 backColor='black' (clicked)='onClicked($event)'></app-tile>
                <app-tile #tile16 [tileValue]=16 backColor='red' (clicked)='onClicked($event)'></app-tile>
                <app-tile #tile19 [tileValue]=19 backColor='red' (clicked)='onClicked($event)'></app-tile>
                <app-tile #tile22 [tileValue]=22 backColor='black' (clicked)='onClicked($event)'></app-tile>
                <app-tile #tile25 [tileValue]=25 backColor='red' (clicked)='onClicked($event)'></app-tile>
                <app-tile #tile28 [tileValue]=28 backColor='black' (clicked)='onClicked($event)'></app-tile>
                <app-tile #tile31 [tileValue]=31 backColor='black' (clicked)='onClicked($event)'></app-tile>
                <app-tile #tile34 [tileValue]=34 backColor='red' (clicked)='onClicked($event)'></app-tile>
            </div>
        </div>
    </div>

    <div class='div-result'>{{randomNumbers}}</div>
    <div class='div-debug-message'>{{debugMessage}}</div>
</div>